{
	{$CADDY_GLOBAL_OPTIONS}
	frankenphp {
		{$FRANKENPHP_CONFIG}
	}
}

{$CADDY_EXTRA_CONFIG}

{$SERVER_NAME:localhost} {
	tls /website_certs/local-cert.pem /website_certs/local-key.pem
	log debug
	root * /app/public
	encode zstd br gzip
	php_server
}
